*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 2px 13px 12px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: #AEB4C7;
   
}
.nav-links ul{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    margin-right: 40PX;
}
.nav-links ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    font-family: Raleway;
    cursor: pointer;
    font-style: oblique;
    transition: all 0.5s ease;
    color: white;
}
.nav-links ul li:hover{
    color: black;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    font-family:Montserrat ;
    font-style: italic;
    color: white;
}
.Heading{
    margin-top: 120px;
    margin-left: 20px;
    font-size: 40px;
    letter-spacing: 1.3;
    font-family: Montserrat;
    font-weight:700;
}